.icn { color: #b0b9c2; }

.hpair {
    text-align: right;
    h2 { margin-bottom: 0; }
    h4 { margin-top: 4px; }
}

ul {
    flex: 1 1 65%;
    text-align: right;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px 4px;
    border-radius: 15px;
    color: #264545;
    background: #b9d8d8;
}

.bullet {
    display: flex;
    align-items: center;
    p { flex: 1; max-width: 700px; }
}